$deafult-dark-font: #212121;
$grey-font: #757575;
$white-font: #ffffff;
$logo-font: #000000;
$blue-font: #2196f3;
$white-background: #f5f4fa;
$footer-contact-font: #ffffff99;
$bg: #2f303a;
$border-header: #ececec;
$border-card: #eeeeee;
$bg-gradient: #2f303a66;
$social-color: #afb1b8;
$social-lower-bg: #ffffff1a;
$bg-modal: #fff;
$work-descbg: rgba(47, 48, 58, 0.8);
$popout-bg: rgba(33, 150, 243, 0.9);
$shadow-modal: rgba(0, 0, 0, 0.2);
$input-footer: #ffffff30;
$grey-border: #21212120;
